
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  color: #0077B5;
}

h3 {
  color: #4CAF50;
}

p {
  text-align: center;
}

img {
  border-radius: 50%;
}

.badge {
  margin: 5px;
}

.social-icons img {
  margin: 5px;
}

.languages img {
  margin: 5px;
}

.stats {
  display: flex;
  justify-content: space-around;
}